<div class="text-center">
  <h1>My Lists</h1>
</div>

<%# <%= link_to "Create a list", new_list_path, class: "btn btn-primary"%>

<div class="container">
  <div class="row g-4">
    <% @lists.each do |list| %>
      <div class="col-md-4"> <!-- 3 cards per row -->
        <div class="card shadow-sm">
          <% first_movie = list.movies.first %>
          <img src="<%= first_movie.present? ? first_movie.poster_url : image_path('image.png') %>"
              class="card-img-top"
              alt="<%= first_movie.present? ? first_movie.title : 'Placeholder Image' %>"
              style="max-height: 250px; object-fit: cover;">
          <div class="card-body text-center">
            <%= link_to list.name, list_path(list), class: "btn btn-secondary w-100" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
