.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 4px;
  padding-right: 4px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.banner-img {
  height: 300px; /* Adjust height as needed */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}
